# Providers Airflow (pas apache-airflow lui-même, géré par Astro)
apache-airflow-providers-postgres
apache-airflow-providers-http

# Soda (setuptools requis pour distutils, supprimé en Python 3.12)
setuptools
soda-core-postgres==3.5.6

# Utils
requests>=2.32.0
psycopg2-binary==2.9.9
python-dotenv==1.0.0
pandas==2.2.2